<html lang="pt-BR">

<head>
	<title>home page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="">
	<meta name="author" content="">

	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<script type="text/javascript" charset="utf-8" src="{% static 'gsap/TweenMax.min.js' %}"></script>
</head>


<body>
	BOSNIA
</body>