<html lang="pt-BR">

<head>

	<title>home page</title>
	<meta charset="utf-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="">
	<meta name="author" content="davincif">

	{% load static %}

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<script type="text/javascript" charset="utf-8" src="{% static 'popper/popper.min.js' %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'jquery/jquery-3.2.1.slim.min.js' %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- GSAP -->
	<script type="text/javascript" charset="utf-8" src="{% static 'gsap/TweenMax.min.js' %}"></script>

	<!-- TEMPLATE CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'home/style/css/home.css' %}" />

</head>


<body>
	<section id="cover">
		<div class="container">
			<h1>DaVinciF</h1>
			<p>
				Lorem ipsum faucibus aptent eleifend laoreet quis erat convallis blandit nam, mi sociosqu cras malesuada duis odio phasellus interdum lorem, elit class venenatis tortor tellus consectetur ultrices platea ante.
			</p>
		</div>
	</section>
</body>

</html>
<!-- <div class="card-block bg-dark text-white scope">
<img class="card-img" src="{% static 'home/imgs/home_background.jpg' %}">
<div class="card-img-overlay">
<h5 class="card-title">Card title</h5>
<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
<p class="card-text">Last updated 3 mins ago</p>
</div>
</div> -->
